<% if @stock %>
  <div class="well result-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </string> <%= @stock.last_price %>
  </div>
<% end %>
